/*common*/
::-webkit-scrollbar { 
    display: none; 
}
body{
	font-family:"微軟正黑體","LiHei Pro","Helvetica Neue","Helvetica","Arial","sans-serif";
    font-weight:200;
	position:fixed;
	-webkit-user-select: none;                /* disable cut copy paste */
	-webkit-touch-callout: none;              /* disable callout, image save panel */
	-webkit-tap-highlight-color: transparent; /* "turn off" link highlight */
/*	overflow-x:hidden;
	overflow-y:hidden;*/
}
.coYellow{
	color:#ffff00;
}
.coBlue{
	color:#5CFBFF;
}
a,a:hover{
	text-decoration:none;
	color:#5CFBFF;
}
/*webpage*/
header{
	width:100%;
	height:50px;
	background:#000;
	margin:0 auto;
	position:fixed;
	top:0;
}
header ul{
    height:50px;
	margin:0;	
}
header ul li{
	display:inline-block;
	margin:15px 1%;
	font-size:14px;
	color:#fff;
}

header ul li a{
	text-decoration:none;
	color:#fff;
}
header ul li a:hover{
	text-decoration:none;
	color:#FFCC22;
}
footer{
	width:100%;
	height:50px;
	background:#FFCC22;
}
/*PAD*/
.background{
	position:absolute;
	top:0px;
	width:1024px; 
	height:768px;
	background-repeat:no-repeat; 
	background-size:1024px 768px;
	overflow:hidden;
}
.projectBackground{
	position:absolute;
	top:0px;
	width:2504px; 
	height:720px;
	background-repeat:no-repeat; 
	background-size:2504px 720px;
	overflow-x:scroll;
	overflow-y:hidden;
}
/*btn*/
.buildBtn,.houseBtn,.finishBtn{
	float:right;
	margin:60px 40px 0 0;
	border : none;
	width:180px; 
	height:75px; 
	background-size:180px 75px; 
	background-repeat:no-repeat; 
	background-color:transparent;
	color:transparent;
}
.finishBtn{
	background-image:url('../img/finishBtn.png');
}
.buildBtn{
	background-image:url('../img/buildBtn.png');
}
.houseBtn{
	background-image:url('../img/houseBtn.png');
}
.buildBtn:active{
	background-image:url('../img/buildBtnPressed.png');
}
.houseBtn:active{
	background-image:url('../img/houseBtnPressed.png');
}
.finishBtn:active{
	background-image:url('../img/finishBtnPressed.png');
}
.navTab{
	width:30px; 
	height:180px; 
	background-size:30px 180px; 
	background-repeat:no-repeat; 
	background-color:transparent;
	background-image:url('../img/navTab.png');
    -webkit-writing-mode:vertical-lr;
	padding:55px 0 0 5px;
	color:#898989;
	font-size:16px;
	position:absolute;
	top:72px;
	left:16px;
	z-index:1;
	cursor:pointer;
}
.navTabActive{
	background-image:url('../img/navTabActive.png');
	color:#C9CACA;	
	z-index:2;
}
/*skew text*/
.textR{
	float:left; 
    -webkit-transform:skew(0,350deg);
	color:#C4E4E8;
    text-shadow: 0px 0px 10px rgba(255,255,255,0.75);
}
.textL{
    letter-spacing:-5px;
	font-size:70px;
	margin:70px 0 0 -80px;
}
.textS{
	font-size:25px;
	margin:140px 0 0 30px;
}
/*email*/
.emailForm{
	background-color:transparent;
	margin:144px auto; 
	width:660px; 
	height:480px; 
	background-size:630px 480px; 
	background-repeat:no-repeat; 
}
.emailText{
	display:inline-block;
	width:370px;
	height:45px;
	border:3px solid #68BABC;
	border-radius:5px;
	margin:15px 140px;
	background:#0D1C1B;
	color:#fff;
}
.emailBtn{
	display:block;
	background-image:url('../img/emailBtn.gif');
	border : none;
	width:150px; 
	height:150px; 
	background-size:150px 150px; 
	background-repeat:no-repeat; 
	background-color:transparent;
	color:transparent;
	margin:20px auto;
	
}
.emailPressImg{
	background-image:url('../img/emailBtnPressed2.png');
}
.emailBtnPress{
	border : none;
	width:150px;
	height:150px;
	background-size:150px 150px;
	background-repeat:no-repeat;
	background-color:transparent;
	color:transparent;
	margin:20px auto;
}
/*.emailBtn:active{
	background-image:url('../img/emailBtnPressed.png');
	border : none;
	width:150px;
	height:150px;
	background-size:150px 150px;
	background-repeat:no-repeat;
	background-color:transparent;
	color:transparent;
	margin:20px auto;
}*/
.modal-content{
	height:300px; 
	background-color:rgba(255,255,255,0);
	background-repeat:no-repeat; 
    background-size:600px 300px; 
	background-image:url('../img/emailReturn.png'); 
	background-position:50% 50% ;
}
.returnId{
	color:#E2E95F;
	text-align:center;
	margin:0 auto;
	font-size:40px;
	margin-top:130px;
}
/*build*/
.buildBox{
	float:left;
	margin-left:12px;
	width:1000px;
	height:575px;
}
.buildContainer{
	background-image:url('../img/buildBox.png');
	background-repeat:no-repeat; 
	background-size:700px 500px; 
	width:700px;
	height:500px;
	margin-top:50px;
	float:right;
}
.buildForm{
	width:595px;
	height:450px;
	margin:25px 0 0 85px;
}
.buildFormName{
	font-size:18px;
	color:#fff;
	background:#3B6979;
	width:595px;
	height:40px;
	margin:10px auto;
	border:0;
	padding:5px;
}
.buildFormSelect{
	font-size:16px;
	width:595px;
	height:35px;
	color:#fff;
	background:#214A51;
	border:0;
	padding:5px;
}
.buildFormTextarea{
	font-size:17px;
	border:0;
	padding:3px;	
	width:595px;
	height:300px;
	color:#fff;
	background:#3B6979;
	margin:7px 0;
}
.buildFormTag{
	font-size:18px;
	width:595px;
	height:40px;
	background:#3B6979;
	color:#5CFBFF;
	border:0;
	padding:5px;
}
/*project*/
.projectInfoBox{
	width:580px;
	height:0px;	
	background-image:url('../img/projectInfoBox.png');
	background-repeat:no-repeat; 
	background-size:580px 0px;		
	position:absolute;
	top:200px;
	left:450px;
	transition:height 3s ease,background-size 3s ease;
	-webkit-transition:height 3s ease,background-size 3s ease;	
}
.projectBid,.projectCid,.projectContent,.projectGid{
	width:500px;
	height:45px;
	margin:11px auto;
	color:#fff;
	font-size:30px;
}
.projectContent{
	height:227px;
	font-size:26px;
	overflow-x:hidden;
	overflow-y:scroll;
}
.projectCid,.projectGid{
	color:#5CFBFF;
	font-size:24px;
}
.projectBox{
	float:right;
	margin-left:12px;
	width:1500px;
	height:600px;
	margin-top:60px;
}
.projectPop{
	background-image:url('../img/projectPopulation.png');
	background-repeat:no-repeat; 
	background-size:250px 150px; 
	width:250px;
	height:150px;
	float:right;
	margin:20px -80px 0 0;
	color:#C4E4E8;
}
.projectPop label{
	margin:70px 0 0 85px;
	font-size:35px;
}
.infoBBuildingRankP{
	background-image:url('../img/infoBBuildingRanking.png');
	background-repeat:no-repeat; 
	background-size:750px 250px; 
	width:750px;
	height:250px;
	float:right;
}
.infoBTagRankP{
	background-image:url('../img/infoBTagRanking.png');
	background-repeat:no-repeat; 
	background-size:430px 150px; 
	width:430px;
	height:150px;
	float:right;
	margin-top:-50px;
}
#PRankL{
	float:left;
	width:380px;
	height:200px;
	font-size:18px !important;
	margin:20px 0 0 15px; 
}
#PRankR{
	float:left;
	width:350px;
	height:200px;
	font-size:18px !important;
	margin:20px 0 0 -10px;
	
}
/*infoA*/
.infoABox{
	float:left;
	margin-left:12px;
	width:1000px;
	height:575px;
}
.infoAContainer{
	background-image:url('../img/infoBBox.png');
	background-repeat:no-repeat; 
	background-size:650px 400px; 
	width:650px;
	height:400px;
	margin:65px 5px 0px -100px;
	float:right;
	overflow-x:hidden;
}
.infoASecondBox{
	background-image:url('../img/infoAAnalyzeBox.png');
	background-repeat:no-repeat; 
	background-size:650px 400px; 
	width:650px;
	height:400px;
	margin:65px 5px 0px -100px;
	float:right;
	overflow-x:hidden;
	display:none;
}
.infoABuildingName,.infoABuildingT,.infoABuildingContext{
	width:570px;
	margin-left:55px;
	color:#fff;
	padding-left:5px;
	font-weight:100;
}
.infoABuildingT,.infoABuildingContext{
	background:#3B6979;
	margin-top:5px;
}
.infoABuildingName{
	height:55px;
	background:#CF4E34;
	margin-top:25px;
	padding-top:5px;
	font-size:32px;
	overflow-y:hidden;
}
.infoABuildingT{
	height:40px;
	color:#5CFBFF;
	font-size:24px;
	overflow-x:scroll;
	overflow-y:hidden;
	padding-top:2px;
}
.infoAinnerBox{
	padding-top:3px;
	min-width:100vw;
	max-height:30px;
}
.infoABuildingContext{
	height:200px;
	font-size:24px;
	overflow-y:scroll;
}
.infoABoxBottom{
	background-image:url('../img/infoAAnalyze.png');
	background-repeat:no-repeat; 
	background-size:561px 187px; 
	width:561px;
	height:187px;
	margin-top:0px;
	margin-right:5px;
	float:right;
	color:#5CFBFF;	
}
.infoABoxBottomLeft{
	font-size:16px;
	width:250px;
	height:150px;
	margin:25px 0 0 6px;
	float:left;
}
.infoABoxBottomRight{
	font-size:16px;
	width:250px;
	height:150px;
	margin:25px 0 0 -6px;
	float:left;
}
/*infoB*/
.infoBArrow,.infoBArrowF{
	width:75px;
	height:75px;
	top:346.5px;
	position:absolute;
}
.infoBArrow{
	background:url('../img/infoBArrow.png');
	background-size:75px 75px;
	background-repeat:no-repeat; 
	right:1px;
	z-index:50;
	
}
.infoBArrowF{
	background:url('../img/infoBArrowF.png');
	background-size:75px 75px;
	background-repeat:no-repeat; 
	left:1px;
 	z-index:50;
}
/*infoB progress bar*/
.progress{
	height:3px; 
	width:250px;
	background:transparent;
}
.progress-bar-core{
	width:0%;
	height:3px;
	background:#B6CECE;
	-webkit-transition: width 3s ease;
	transition: width 3s ease;
}
/*infoB TAG*/
.infoBSecondBox{
	background-image:url('../img/infoBAnalyzeBox.png');
	background-repeat:no-repeat; 
	background-size:580px 400px; 
	width:580px;
	height:400px;
	margin:65px 75px 0px -100px;
	float:right;
	overflow-x:hidden;
	display:none;
}
.TagName{
	color:#5CFBFF;
	font-size:15px;
	margin:0;
}
.TagNumber{
	color:#B6CECE;
	font-size:15px;
	margin:0;	
}
.infoBBox{
	float:left;
	margin-left:12px;
	width:1000px;
	height:575px;
}
.infoBTagRank{
	background-image:url('../img/infoBTagRanking.png');
	background-repeat:no-repeat; 
	background-size:360px 120px; 
	width:360px;
	height:120px;
	float:right;
	margin-top:-50px;
}
.infoBBuilding{
	width:370px;
	height:570px;
	margin-right:-20px;
	float:left;
}
.infoBBuildingContent{
	background-repeat:no-repeat; 
	background-size:300px 550px; 
	width:300px;
	height:550px;
	margin-left:35px;
	top:-620px;
	position:relative;

}
.infoBBuildingBottom{
	background-image:url('../img/buildingBottom.gif');
	background-repeat:no-repeat; 
	background-size:370px 150px; 
	width:370px;
	height:150px;
	opacity:0.8;
	margin-top:400px;
}
.infoBBuilgingBottomDecoration{
	background-image:url('../img/buildingBottomDec.png');
	background-repeat:no-repeat; 
	background-size:370px 150px; 
	width:370px;
	height:150px;
	margin-top:400px;
}
.infoBBuildingRank{
	background-image:url('../img/infoBBuildingRanking.png');
	background-repeat:no-repeat; 
	background-size:630px 200px; 
	width:630px;
	height:200px;
	float:right;
}
.infoBContainer{
	background-image:url('../img/infoBBox.png');
	background-repeat:no-repeat; 
	background-size:580px 400px; 
	width:580px;
	height:400px;
	margin:65px 75px 0px -100px;
	float:right;
	overflow-x:hidden;
}
.infoBBuildingName,.infoBBuildingT,.infoBBuildingContext{
	width:500px;
	margin-left:55px;
	color:#fff;
	padding-left:5px;
	font-weight:100;
}
.infoBBuildingT,.infoBBuildingContext{
	background:#3B6979;
	margin-top:5px;
}
.infoBBuildingName{
	height:55px;
	background:#CF4E34;
	margin-top:25px;
	padding-top:5px;
	font-size:32px;
	overflow-y:hidden;
}
.infoBBuildingT{
	height:40px;
	color:#5CFBFF;
	font-size:24px;
	overflow-x:scroll;
	overflow-y:hidden;
	padding-top:2px;
}
.infoBinnerBox{
	min-width:100vw;
	max-height:30px;
}
.infoBBuildingContext{
	height:200px;
	font-size:24px;
	overflow-y:scroll;	
}
/*infoC*/
.infoCBox{
	opacity:1;
	background-image:url('../img/infoCBox.png');
	background-repeat:no-repeat; 
	background-size:930px 530px; 
	width:930px;
	height:530px;
	margin:0 50px 0 30px;
	margin-top:210px;
}
.infoCContainer{
	float:left;
	margin:60px 0 0 80px;
	width:845px;
	height:430px;
	opacity:1;
	overflow-x:hidden;
	overflow-y:scroll;
}
.infoCContent{
	float:left;
	width:190px;
	height:200px;
	border-radius:5px;
	margin:7.5px;
	background:rgba(180,180,181,0.6);
}
.infoCText{
	opacity:1;
	margin-top:3px;
	margin-left:7.5px;
	float:left;
	font-size:18px;
	color:#5CFBFF;
}
.infoCImg{
	background-repeat:no-repeat; 
	background-size:110px 200px; 
	width:110px;
	height:200px;
	opacity:1;
	margin:0 auto;
	background-position:0% -30px;
}
.infoCTag{
	overflow-y:hidden;
	overflow-x:scroll;
	width:190px;
	background:#000;
	opacity:0.5;
	position:relative;
	bottom:30px;
	height:30px;
}
.infoCinnerBox{
	padding-top:3px;
	min-width:100vw;
	max-height:30px;
}
.infoCinnerBox a{
	opacity:1;
	font-size:16px;
	margin-left:3px;
	color:#5CFBFF;
	text-decoration:none;
}
.infoCTag::-webkit-scrollbar{
	display:none;
}

/*count*/
.modal-content2{
	height:230px; 
	background-color:rgba(255,255,255,0);
	background-repeat:no-repeat; 
    background-size:270px 230px; 
	background-image:url('../img/count.png'); 
	background-position:50% 50% ;
}
.modal-content3{
	height:230px; 
	background-color:rgba(255,255,255,0);
	background-repeat:no-repeat; 
    background-size:450px 230px; 
	background-image:url('../img/buildFail.png'); 
	background-position:50% 50% ;
}
.modal-content4{
	height:370px; 
	background-color:rgba(255,255,255,0);
	background-repeat:no-repeat; 
    background-size:500px 370px; 
	background-image:url('../img/emailBox.png'); 
	background-position:50% 50% ;
}
#buildFail{
    color: #fff;
    text-align: center;
    margin: 0 auto;
    font-size: 18px;
    padding-top: 100px;
    margin-top: 150px;
}
#tmpClock{
	color:#E2E95F;
	text-align:center;
	margin:0 auto;
	font-size:40px;
	padding-top:110px;
	margin-top:150px;
}
.infoABBox{
	width:700px; 
	height:400px; 
	position:absolute; 
	top:150px;
	left:315px;
}
.bidRank{
	width:270px;
	height:245px;
	position:absolute;
	top:190px;
	left:100px;
}
.tagRank{
	width:270px;
	height:245px;
	position:absolute;
	top:190px;
	left:385px;
}
.box2Ranking{
	width:185px;
	font-size:20px;
	border-bottom:1px solid #fff;
	text-align:center;
	margin:0 auto;
	color:#fff;
}
.box2RankingContainer{
	float:left; 
	width:90px; 
	height:215px; 
	margin-top:5px;
}
.box2RankingNum1,.box2RankingNum2,.box2RankingNum3,.box2RankingGidNum1,.box2RankingGidNum2,.box2RankingGidNum3{
	color:#B6CECE; 
	font-size:16px;
	text-align:center;
}
.box2RankingNum1 p,.box2RankingNum2 p,.box2RankingNum3 p,.box2RankingGidNum1 p,.box2RankingGidNum2 p,.box2RankingGidNum3 p{
    margin: 0 0 10px;
}
.box2RankingNum2{
	margin-top:30px;
}
.box2RankingNum3{
	margin-top:60px;
}
.box2RankingGidNum2{
	margin-top:32px;
}
.box2RankingGidNum3{
	margin-top:64px;
}
.box2RankingImg1,.box2RankingImg2,.box2RankingImg3{
	background-repeat:no-repeat; 
    background-size:50px 150px; 
	background-image:url('../img/bidRank.png'); 
	width:50px;
	height:150px;
	margin:0 auto;
}
.box2RankingImg2{
	width:40px;
	height:120px;
	background-repeat:no-repeat; 
    background-size:40px 120px; 
}
.box2RankingImg3{
	width:30px;
	height:90px;
	background-repeat:no-repeat; 
    background-size:30px 90px;	
}
.box2RankingCid{
	margin-top:10px;
	text-align:center;
}
.box2RankingGidImg1,.box2RankingGidImg2,.box2RankingGidImg3{
	background-repeat:no-repeat; 
    background-size:70px 160px; 
	background-image:url('../img/gidRank.png'); 
	width:70px;
	height:160px;
	margin:0 auto;
}
.box2RankingGidImg2{
	width:56px;
	height:128px;
	background-repeat:no-repeat; 
    background-size:56px 128px; 
}
.box2RankingGidImg3{
	width:42px;
	height:96px;
	background-repeat:no-repeat; 
    background-size:42px 96px;	
}
.box2RankingGid{
	margin-top:0px;
	text-align:center;
}